[submodule "dependencies/vlfeat"]
	path = dependencies/vlfeat
	url = https://github.com/ignaciorlando/vlfeat.git
[submodule "dependencies/matconvnet"]
	path = dependencies/matconvnet
	url = https://github.com/ignaciorlando/matconvnet.git
